@import 'Room.module';

.container {
  display: grid;
  gap: 1px 1px;
  grid-template-columns: repeat(3, 1fr);

  .box {
    height: 41px;
    width: 41px;
    background-color: #949191;
  }
  .red {
    background-color: $redRoomColor;
  }
  .green {
    background-color: $greenRoomColor;
  }
  .blue {
    background-color: $blueRoomColor;
  }
  .yellow {
    background-color: $yellowRoomColor;
  }
}

.landscape {
  grid-template-columns: repeat(6, 1fr);
}
